[Unit]
Description=HLT Rate Monitoring
Documentation=https://twiki.cern.ch/twiki/bin/viewauth/CMS/RateMonitoringScriptWithReferenceComparison
After=network.target

[Service]
Restart=always
RestartSec=5s
Type=simple
User=hltpro
ExecStart=/opt/ratemon/start.sh

[Install]
WantedBy=multi-user.target
